# Rust's huge target folder should not be commited
/target

# Exclude GameMaker data file extension
*.win
*.unx
*.droid
*.ios

# These are some file extension I sometimes use
# in development for GameMaker data files
*.win1
*.win.bak
*.unx1
*.unx.bak

# No RustRover bloat, make your own config
.idea