[workspace]
members = ["compiler-test", "libgm", "libgm-cli", "macros"]
resolver = "3"

# Default member for `cargo run`
default-members = ["compiler-test"] # TODO: revert to cli when merging to main


[profile.release]
overflow-checks = true
